* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 15px;
	background-color: #051932;
}

nav ul {
	display: flex;
	list-style: none;
}

div ul li {
	padding: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
}

ul li a:hover {
	text-decoration: underline;
}

.logo-alura h1 a {
	text-decoration: none;
	color: #fff;
}

body {
	background-color: #093364;
}

.sobre {
	padding: 10px;
	margin: 20px;
	max-width: 100%;

}

#banner {
	width: 100%;
}

h1 {
	text-align: center;
}

p {
	text-align: justify;
	margin: 10px;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #FF0000;
}

.content {
	max-width: 80%;
	margin: 0 auto;
	color: #fff;
}

.itens {
	font-style: italic;
}

.secao-beneficio {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: #fff;
	color: #051932;
	padding: 20px;
	margin-top: 20px;
	border-radius: 15px 0;
}

.img-beneficio {
	width: 50%;
	border-radius: 0 15px;
}